.task-row {
    position: relative;
    display: flex;
    flex-direction: row;
    background: var(--bg-surface);
    height: 40px;
    font-family: var(--font-mono);
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    transition: background .2s, color .2s, border-color .2s;
    border: 1px solid transparent;
    color: var(--text-secondary);
    padding: 5px 10px 5px 20px;
}

.task-row:hover {
    background: var(--bg-elevated);
    color: var(--text-primary);
    cursor: pointer;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-metadata {
    color: var(--text-muted);
    transition: color .2s;
    display: flex;
    gap: 5px;
}

.task-row.selected {
    color: var(--text-primary);
    background: var(--bg-overlay);
    border: 1px solid var(--border-strong);

    .task-metadata {
        color: var(--text-secondary);
    }

    .task-row-divider {
        background: var(--border-base);
    }
}

.task-row-right,
.task-row-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.task-row-color {
    height: 21px;
    width: 5px;
    background: var(--project-color);
    border-radius: 10px;
}

.task-row-left::before {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    width: 15px;
    height: 100%;
    min-width: 15px;
    background: var(--project-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.task-row-divider {
    width: 1px;
    height: 80%;
    transition: background .2s;
    background: var(--border-subtle);
    margin: 0 4px;
}

.task-row-list {
    margin-top: 3px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3px;
}