.stopwatch {
    background: var(--bg-page);
    border: 1px solid var(--border-base);
    border-radius: 6px;
    padding: 15px 20px;
    font-family: var(--font-mono);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: border .2s, background 0.2s;

}

.stopwatch.running {
    background: var(--bg-green-tint);
    border-color: var(--border-green);

    .stopwatch-btn.main {
        background: var(--accent-green);
        color: black;
    }

    .stopwatch-time {
        color: var(--accent-green);
    }

}

.stopwatch-left {
    font-family: inherit;
    color: var(--text-muted);
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.stopwatch-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 113px;
}

.stopwatch-time {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-secondary);
}

.stopwatch-actions-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.stopwatch-btn {
    height: 30px;
    background-color: var(--bg-green-tint);
    color: var(--text-secondary);
    border: 1px solid var(--border-green);
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    transition: opacity .2s, color 0.2s, background 0.2s;
}

.stopwatch-btn.main {
    height: 35px;
}

.stopwatch-btn:not(:disabled):hover {
    cursor: pointer;
    color: var(--text-primary);
}

.stopwatch-btn:disabled {
    color: var(--text-muted);
    background: var(--bg-elevated);
    border-color: var(--border-subtle);
}

.stopwatch-btn:hover:disabled {
    cursor: not-allowed;
}