.taskCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.task-card-container {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-surface);
    color: var(--text-secondary);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;

    font-family: var(--font-mono);
    transition: background .2s, color .2s;
}

.task-card-container:hover {
    background: var(--bg-elevated);
    color: var(--text-primary);
}

.task-card-container.last {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.task-card-container-left.above-sibling-extended::before {
    border-top-left-radius: 6px;
}

.task-card-container-left.last::before {
    border-bottom-left-radius: 6px;
}

.task-card-container-left::before {
    position: relative;
    content: "";
    z-index: 1;
    width: 15px;
    height: 40px;
    min-width: 15px;
    background: var(--project-color);
}

.task-card-container-left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 300px;
    max-width: 300px;
    padding-right: 30px;
}

.task-card-container-right {
    display: flex;
    gap: 5px;
    padding-right: 10px;
}

.task-card-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.task-card-container-left.expanded::before {
    border-bottom-left-radius: 6px;
}

.task-card-name.completed {
    text-decoration: line-through;
    color: var(--accent-green);
}

.task-card-name.blocked {
    color: var(--accent-red);
}